<h1>Welcome to Change</h1>
<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>

<% if @user.portfolio %>
  <%= link_to 'Edit Charity Portfolio', portfolio_path %>
<% else %>
  <%= link_to 'Create Charity Portfolio', portfolio_path %>
<% end %>
