Select what causes you would like in your donation portfolio.
<br />
<br />
<% @not_charity_list.each do |char| %>
  <h3><%= char %></h3>
  <%= link_to 'Add to portfolio', add_portfolio_path(char) %>
<% end %>
<br />
<br />
<div class="col-sm-offset-5"><h2><%= link_to 'Finish Portfolio', finish_portfolio_path %></h2></div>
